@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  

body{
    background-color: black;
    font-family: "Source Sans Pro", sans-serif;
}

form /* estilização da tag form do formulário */
    {
        font-size: 16px; /* tamanho padrão da fonte */
        max-width: 500px; /* largura do conteúdo no geral */
        margin: 0 auto; /* margem da tag */
        background: white; /* a cor do formulário em formato RGBA e a opacidade (0.7) */
        padding: 10px 10px 10px 20px; /* preenchimento do conteúdo do form */
        border-radius:10px; /* forma arredondada da borda e seu tamanho */
        text-align: left; 
        margin-top: 5%; /* distância do form para o topo da página */
        
    

    } 

h1 /* estilização do título do form (Cadastro) */
    {
        color: black; /* cor da palavra */
        opacity:1; /* opacidade do título */
        /* fontes para o título, em ordem de preferência */
        text-align: center;
    }

input /* estilização das textareas do formulário */
    {
        background-color: #808080; /* cor de fundo do input */
        color: black; /* cor do texto do input */
        font-size: 15px; /* tamanho da fonte do input */
       
        width: 350px; /* largura das textareas */
        padding: 10px; /* preenchimento das textareas */
        opacity: 1; /* opacidade do campo referente às textareas */
        border-radius: 5px; /* forma arredondada e tamanho das bordas das textareas */
        border-color: #808080;
    }
          


    .autor input /* estilização das textareas do formulário */
    {
        background-color: #808080; /* cor de fundo do input */
        color: black; /* cor do texto do input */
        font-size: 15px; /* tamanho da fonte do input */
       
        width: 350px; /* largura das textareas */
        padding: 10px; /* preenchimento das textareas */
        opacity: 1; /* opacidade do campo referente às textareas */
        border-radius: 5px; /* forma arredondada e tamanho das bordas das textareas */
        border-color: #808080;
    }      
    
    .editora input /* estilização das textareas do formulário */
    {
        background-color: #808080; /* cor de fundo do input */
        color: black; /* cor do texto do input */
        font-size: 15px; /* tamanho da fonte do input */
     
        width: 350px; /* largura das textareas */
        padding: 10px; /* preenchimento das textareas */
        opacity: 1; /* opacidade do campo referente às textareas */
        border-radius: 5px; /* forma arredondada e tamanho das bordas das textareas */
        border-color: #808080;
    }    

    textarea
    {
        
        background-color: #808080; /* cor de fundo da textarea*/
        color: black; /* cor do texto da textarea*/
        font-size: 15px; /* tamanho da fonte da textarea*/
         /* tipo de fonte da textarea, por ordem de preferência*/
        height: 170px; /* altura da textarea */
        width: 450px; /* largura das textareas */
        padding: 10px; /* preenchimento das textareas */
        opacity: 1; /* opacidade do campo referente às textareas */
        border-radius: 5px; /* forma arredondada e tamanho das bordas das textareas */
        
       
        
    }   
    
    ::-webkit-input-placeholder /* tag para alterar a cor dos placeholders da página */
    { 
        color: rgba(211,211,211,1.00);
    }

.enviar input, .btn /* estilização do botão prosseguir */
    {
        background-color: black; /* cor de fundo do botão */
        opacity: 1; /* opacidade do botão */
        height: 43px; /* altura do botão */
        width: 200px; /* largura do botão */
        margin-left: 56%; /* margem para a esquerda do botão */       
        font-weight: bold; /* característica da fonte */
        border-radius: 19px; /* forma arredondada e tamanho da borda do botão */
        color: #FFFFFF; /* cor da fonte do botão */
        margin-bottom: 7%
    

    }
    .div-genero
    {
        background-color: #808080;
        padding: 7px;
        border-color: #808080;
        border-radius: 5px;
        margin: 7px;
        width: 80px;
    }

    #btn-genero
    {
        width: 150px;
        height: 40px;
    }

    #btn-genero span, div
    {
        display: inline-block;
    }

    .btn-adicionar-x
    {
        color: #B22222;
        margin-left: 2px;
    }

   