body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
  }
  table {
    border-collapse: collapse;
    width: 50em;
    border: 2.5px solid rgb(141, 0, 0);
    margin-left: 5%;
    margin-top: 10%;
    background-color: rgb(10, 10, 10);
    color: white;
  }
  thead {
    background: rgb(0, 0, 0)  repeat-x left center;
    border-top: 2.5px solid rgb(141, 0, 0);
    border-bottom: 2.5px solid rgb(141, 0, 0);
  }
  
  thead tr:hover {
    background-color: transparent;
    color: inherit;
  }
  tr:nth-child(even) {
      background-color: #141414;
  }
  th {
    font-weight: normal;
    text-align: left;
  }
  th, td {
    padding: 0.1em 1em;
  }

