body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
  }
  table {
    border-collapse: collapse;
    width: 50em;
    border: 2.5px solid rgb(141, 0, 0);
    margin-left: 5%;
    margin-top: 10%;
    background-color: rgb(10, 10, 10);
    color: white;
  }
  thead {
    background: rgb(0, 0, 0)  repeat-x left center;
    border-top: 2.5px solid rgb(141, 0, 0);
    border-bottom: 2.5px solid rgb(141, 0, 0);
  }
  
  thead tr:hover {
    background-color: transparent;
    color: inherit;
  }
  tr:nth-child(even) {
      background-color: #141414;
  }
  th {
    font-weight: normal;
    text-align: left;
  }
  th, td {
    padding: 0.1em 1em;
  }

  .grafico{
    height:750px;
    width: 750px;
    float: right;
    margin-top: 13%;
    color: white
  }


  button.css3button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding: 5px 10px;
    background: -webkit-gradient(
      linear, left top, left bottom,
      from(#6e6e6e),
      to(#464647));
    background: linear-gradient(
      top,
      #6e6e6e 0%,
      #464647);
    border-radius: 0px;
    border: 1px solid #000000;
    box-shadow:
      0px 1px 3px rgba(000,000,000,0),
      inset 0px 0px 1px rgba(255,255,255,1);
    text-shadow:
      0px -1px 0px rgba(0,0,0,1),
      0px 1px 0px rgba(255,255,255,0.3);
  }
  