body
{
  margin: 0;  
}

#menu ul
  {
    margin: 0;
    background-color: rgba(28,28,28,0.3);
    list-style: none;
    
  }
  
  #menu ul li
  {
    display: inline-block;
    padding: 20px;
    margin-left: 75%;

  }

  #menu ul li a
  {
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }

  #menu ul li a:hover /* Função da mudança de cor ao passar o mouse pela palavra do menu superior */
    {
        color: #DCDCDC;
    }