body /* estilização do corpo do site como um todo */
    { 
        background-color: rgba(28,28,28,0.8); /* imagem de fundo da tela de pesquisa */
        background-repeat: no-repeat; /* função para não repetir a imagem */
        background-size: 100% 100%;  /* função que preenche a imagem por toda a tela */
        margin: 0;
        
    }
    h1 /* estilização do título do form (Pesquisa) */
    {
        color: #000000; /* cor da palavra */
        opacity:1; /* opacidade do título */
        font-family: Arial, Helvetica, sans-serif; /* fontes para o título, em ordem de preferência */
    }
