.resultado {

    position: relative;
    display: inline-block;
    width: 250px;
    align-content: left;
    height: 140.625px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: 450ms all;
    transition: 450ms all;
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }

  .resultado_img {
    width: 250px;
    height: 140.625px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .resultado_title {
    position: absolute;
    bottom: 0;
    padding: 10px;
  }
